@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.font-site{
    font-family: 'Pacifico', cursive; 
}
#texto-titulo{
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #ebdfdf;
    font-weight: bolder;
}
.navbar{
    background-color: #940707;
}
.texto-nav{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}
.navbar-light, .navbar-nav, .nav-link {
    color: #ffffff !important;
}
.texto-foto{
    margin-bottom: 250px;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
}
.imagem-carrosel {
    object-fit: cover;
    height: 60vh;
}
#imagem-carrosel-2{
    object-position: center center;
}
.texto-principal > h1 {
    font-family: 'Pacifico', cursive;
    color: #940707;
    margin-top: 50px;
}
.texto-principal > p {
    font-size: 1.2em;
    margin-bottom: 50px;
}
.img-card{
    height: 350px;
    object-fit: cover;
}
.card-width{
    width: 350px !important;
}
.card {
    border: 1px solid #940707 !important;
}
.card-body > a {
    background-color: #940707;
    color: #ffffff;

}
.m-w-3 {
    max-width: 1500px;
    margin: auto !important;
}
.texto-video > h1{
    font-family: 'Pacifico', cursive;
    color: #940707;
}
#caixa-video{
    margin-bottom: 100px;
}
.card-body > h5 {
    font-family: 'Pacifico', cursive; 
    color: #940707;
}
.cor-fundo-btn{
    background-color: #940707 !important;
    color: #ffffff !important;
}
#tamanho-video{
    max-width: 1500px;
    margin: auto;
}
.card-final{
    margin: auto;
    align-items: center;
}
#cor-1{
    background-color: #eedf0d;
    max-width: 1500px;
    margin: auto;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
#cor-2{
    color: #ffffff;
    max-width: 1500px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
#cor-1 > p {
    margin-top: 20px;
    font-size: 1.5em;
}
.end{
    background-color: #5c4420;
    width: 50%;
    padding: 20px
}
.end > h1 {
    font-family: 'Pacifico', cursive; 
}
.form-franqueado{
    background-color: #940707;
    width: 50%;
    padding: 20px;
}
.img-end{
    width: 400px;
}
@media (max-width: 1500px) {
    .texto-foto{
        font-size: 3em;
    }
    .imagem-carrosel{
        height: 45vh;
    }
    .img-card{
        height: 200px;
    }
    .card-width{
        width: 300px !important;
    }
    #cor-1 > p {
        font-size: 1.2em;
    }
    #cor-1{
        border-radius: 0px;
    }
    #cor-2{
        border-radius: 0 0 ;
        margin-bottom: 0px;
    }
    #caixa-video{
        margin-bottom: 0px;
    }
    #texto-video-fundo{
        background-color: black !important;
        color: #ffffff;
    }
}
@media (max-width:991px) {
    .imagem-carrosel{
        height: 45vh;
    }
    .texto-foto{
        font-size: 2.3em;
    }
    .img-card{
        height: 150px;
    }
    .card-width{
        width: 250px !important;
    }
    .card-final{
        flex-wrap: wrap;
    }
    #cor-1 > p {
        margin-top:0;
        font-size:1em;
    }
    #cor-2{
        display: inline;
        margin: auto;
    }
    .form-franqueado, .end{
        width: 100%;
    }
    .end {
        height: 350px;
        padding-top: 50px;
        display: flex;
    }
    .flex-end > p {
        font-size: .8em;
    }
    .flex-end > h1 {
        margin-top: 50px;
        font-size: 1.0em;
    }
    .img-end{
        width: 150px;
        margin: 50px 0px 0px 50px;
        
    }
}