@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 2s infinite;
}


#toggleStatusBtn {
    transition: background-color 0.3s, transform 0.3s ease;
}

#toggleStatusBtn:checked {
    background-color: #28a745; /* Cor verde para "Online" */
}

#toggleStatusBtn:not(:checked) {
    background-color: #dc3545; /* Cor vermelha para "Offline" */
}
