@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 2s infinite;
}


#toggleStatusBtn {
    transition: background-color 0.3s, transform 0.3s ease;
}

#toggleStatusBtn:checked {
    background-color: #28a745; /* Cor verde para "Online" */
}

#toggleStatusBtn:not(:checked) {
    background-color: #dc3545; /* Cor vermelha para "Offline" */
}

#notificationIcon img {
    animation: balancar 2s infinite;
}

@keyframes balancar {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(-15deg); }
    30% { transform: rotate(15deg); }
    45% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.sino-animado {
    display: inline-block;
    animation: balancar 1s ease-in-out infinite;
}
