@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.font-site{
    font-family: 'Pacifico', cursive; 
}
#texto-titulo{
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #ebdfdf;
    font-weight: bolder;
}
.navbar{
    background-color: #940707;
}
.texto-nav{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}
.navbar-light, .navbar-nav, .nav-link {
    color: #ffffff !important;
}
.texto-foto{
    margin-bottom: 250px;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
}
.imagem-carrosel {
    object-fit: cover;
    height: 60vh;
}
#imagem-carrosel-2{
    object-position: center center;
}
.texto-principal > h1 {
    font-family: 'Pacifico', cursive;
    color: #940707;
    margin-top: 50px;
}
.texto-principal > p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

.opc-card-scroll {
    overflow-x: auto; /* Habilita a rolagem horizontal */
    white-space: nowrap; /* Impede quebra de linha */
    padding: 10px;
    -webkit-overflow-scrolling: touch; /* Suaviza a rolagem em dispositivos móveis */
    scrollbar-width: thin; /* Para navegadores como Firefox */
    scrollbar-color: #940707 #f8f9fa; /* Cor da barra e do fundo da rolagem */
}

.opc-card-scroll::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem */
}

.opc-card-scroll::-webkit-scrollbar-track {
    background: #f8f9fa; /* Cor de fundo da barra de rolagem */
    border-radius: 10px; /* Arredonda as bordas da barra de rolagem */
}

.opc-card-scroll::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Arredonda a barra de rolagem */
    border: 2px solid #f8f9fa; /* Cria um espaço entre a barra e o contêiner */
}

.opc-card-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor da barra ao passar o mouse */
}

.catItensCard {
    display: flex;
    justify-content: center; /* Distribui igualmente os itens com espaço entre eles */
    align-items: center;
}

.opc-card-scroll .opc-item {
    flex: 1; /* Faz com que cada item ocupe igualmente o espaço disponível */
    margin: 0 5px; /* Espaçamento entre os itens */
    background-color: #940707;
    padding: 5px 30px;
    text-align: center;
    color: #ebdfdf;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.opc-card-scroll .opc-item:hover {
    background-color: #5c4420;

}

#opc-card-g{
    display: none;
}
.img-card{
    height: 350px;
    object-fit: cover;
}
.card-width{
    width: 350px !important;
}
.card {
    border: 1px solid #940707 !important;
}

.card-body > a {
    background-color: #940707;
    color: #ffffff;

}
input{
    border: none;
    width: 90px;
    height: 32px;
    padding-left: 5px;
}
input:focus {
    outline: none;
  }
.buttonQuant{
    background-color: #ffffff;
    border: none;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;

}
.quantidade{
    width: 25px;
}
.botao-excluir {
background-image: url('projeto-base/src/img/lixeira.png') ;
background-position: center;
background-size: cover;
width: 20px;
height: 20px;
border: none;
background-color: #ffffff;
cursor: pointer;
margin-left: 5px;
  }
  #endereco{
    display: none;
  }
#exampleModalToggleLabel{
    font-family: 'Pacifico', cursive;
}
.preçoProduto{
    margin-top: -10px;
}
.m-w-3 {
    max-width: 1500px;
    margin: auto !important;
}
.texto-video > h1{
    font-family: 'Pacifico', cursive;
    color: #940707;
}
#caixa-video{
    margin-bottom: 100px;
}
.card-body > h5 {
    font-family: 'Pacifico', cursive; 
    color: #940707;
}
.cor-fundo-btn{
    background-color: #940707 !important;
    color: #ffffff !important;
}
#tamanho-video{
    max-width: 1500px;
    margin: auto;
}
.card-final{
    max-width: 1510px;
    margin: auto;
    align-items: center;
}
#cor-1{
    background-color: #eedf0d;
    margin: auto;
    border-radius: 10px 10px 0 0;
    padding: 50px;
}
#cor-2{
    color: #ffffff;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
#cor-1 > p {
    margin-top: 20px;
    font-size: 1.5em;
}
.end{
    background-color: #5c4420;
    width: 50%;
    text-align: center;

}
.flex-end> h1 {
    padding-top: 20px;
    font-family: 'Pacifico', cursive; 
}
.form-franqueado{
    background-color: #940707;
    width: 50%;
    padding: 50px;
}
.img-end{
    width: 400px;
}

.flex {
    display: flex;
}

.carrinho-compras {
    background-color: #5c4420;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  #carrinho-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color:#940707;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
  }

  .menos{
    font-weight: 800;
    background-color: #f12a2a;
  }
  .mais{
    background-color: greenyellow;
    margin-right: 5px;
    font-weight: 800
  }
  #map {
    height: 300px; /* Ajuste a altura do mapa conforme necessário */
    width: 100%;   /* O mapa ocupará toda a largura do contêiner */
}

  /* Card carrinho */

  .produtos, #meucarrinho .produtos > input {
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0 #c0b2b2;display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
  }
  #nomeProdutoCarrinho{
    width: 110px;
  }
  #quantidadeCarrinho {
    width: 40px;
    margin-right: -10px;
  }
  #precoTotalQuantidade {
    width: 70px;
    margin-left: -60px;
  }
  #imgLix{
    height: 20px;
    width: 20px;
    margin-top: 5px;
  }
  .totais{
    margin-top: 20px;
  }
.modal-final{
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.modal-final > p{
    margin-top: 12px;
}

.produto-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.produto-nome {
  flex: 1;
  border: none;
  background: transparent;
}

.produto-quantidade,
.produto-total {
  display: flex;
  align-items: center;
}

.quantidade-input,
.total-input {
  width: 50px;
  text-align: center;
}

.remover-item {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

  
@media (max-width: 1500px) {
    .texto-foto{
        font-size: 3em;
    }
    .imagem-carrosel{
        height: 45vh;
    }
    .img-card{
        height: 200px;
    }
    .card-width{
        width: 300px !important;
    }
    #cor-1 > p {
        font-size: 1.2em;
    }
    #cor-1{
        border-radius: 0px;
    }
    #cor-2{
        border-radius: 0 0 ;
        margin-bottom: 0px;
    }
    #caixa-video{
        margin-bottom: 0px;
    }
    #texto-video-fundo{
        color: #ffffff;
    }
    #opc-card-g{
        display: none;
    }
}
@media (max-width:991px) {
    #texto-titulo{
        font-size: 1.5em;
    }
    .imagem-carrosel{
        height: 45vh;
    }
    .texto-foto{
        font-size: 1.3em;
    }
    .img-card{
        height: 150px;
    }
    .card-width{
        width: 250px !important;
    }
    .card-final{
        flex-wrap: wrap;
    }
    #cor-1 > p {
        margin-top:0;
        font-size:1em;
    }
    #cor-2{
        display: inline;
        margin: auto;
    }
    .form-franqueado, .end{
        width: 100%;
    }
    .end {
        height: 350px;
        padding-top: 50px;
        display: flex;
        padding: 20px;
    }
    .flex-end > p {
        font-size: .8em;
    }
    .flex-end > h1 {
        margin-top: 50px;
        font-size: 1.0em;
    }
    .img-end{
        width: 150px;
        margin: 50px 0px 0px 50px;
        
    }
    .opc-card{
        font-size: .8em;
    }
    #opc-card-g{
        display: flex;
    }
}